body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/hotel-wallpaper-black.png);
    background-color: black;
    }
.navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.main-body {
    margin: 0 auto;
}

.body-text {
    background-color: white;
    border: black;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.aboutme {
    padding-top: 2vh;;
}