body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/hotel-wallpaper-black.png);
    background-color: black;
    }
.navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
}